.container-wrapper {
  width: 72%;
  margin: 20px auto;
  color: whitesmoke;
  border-radius: 14px;
  font-family: "Poppins";
  overflow: hidden;
}

.content {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

h1 {
  padding: 10px 20px;
  color: rgb(254, 255, 255);
  border-bottom: 2px solid rgb(199, 176, 255);
}

a {
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

@media screen and (max-width: 676px) {
  h1 {
    text-align: center;
  }
}