.Footer {
    padding: 0 10px;
}

.Footer a {
    color: rgb(212, 197, 227);
    font-weight: 800;
    text-decoration: none;
}

.Footer a:hover {
    color: rgb(117, 5, 61);
}

.Footer p {
    color: rgb(231, 224, 238);
    text-align: center;
    font-weight: 600;
    line-height: 1em;
}